@using Microsoft.AspNetCore.Mvc.Localization
@model MedalCategory
@inject IViewLocalizer ViewLocalizer
@{
	ViewBag.Title = ViewLocalizer["勋章分类详情 - {0}", Model.Name];
}

@if (Model.Parent != null)
{
	<small class="text-muted">隶属于 <a asp-controller="Category" asp-action="Detail" asp-route-id="@Model.Parent.Id">@Model.Parent.Name</a> 分类</small>
}

@if (!string.IsNullOrEmpty(Model.Description))
{
	<p class="text-center">@Model.Description</p>
}
else
{
	<p class="text-center text-muted">该分类没有描述</p>
}

<hr />
<h2 class="lead text-center">子类别</h2>
<hr />

@if (Model.Children.Any())
{
	<partial name="_CategoryListTablePartial" model="@Model.Children" />
}
else
{
	<p class="text-center text-muted">该勋章类别没有任何子类别</p>
	<a asp-controller="Category" asp-action="Create" class="btn btn-primary">添加子类别</a>
}

<hr />
<h2 class="lead text-center">勋章列表</h2>
<hr />
