@using Microsoft.AspNetCore.Mvc.Localization
@model MedalCategory
@inject IViewLocalizer ViewLocalizer
@{
	ViewBag.Title = ViewLocalizer["编辑勋章分类 - {0}", Model.Name];
}


<form class="ui form" asp-controller="Category" asp-action="Edit" method="post" asp-antiforgery="true">

	<input type="hidden" asp-for="Id" />

	<div class="ui centered grid">
		<div class="doubling two column row">
			<div class="column">

				<partial name="_EditPartial" />

				<div class="ui divider"></div>
				<button type="submit" class="ui primary button">修改分类</button>
				<button type="reset" class="ui secondary button">撤销更改</button>

			</div>
		</div>

	</div>

</form>

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}