@using System.Linq
@model IEnumerable<MedalCategory>
@{
	var aspFor = (ModelExpression)ViewBag.AspFor;
	var showNoCategoryOption = (bool)ViewBag.ShowNoCategoryOption;
}

<div class="ui fluid dropdown button" data-setting="{'allowCategorySelection' : true}">
	<input type="hidden" name="@aspFor.Name" value="@aspFor.Model" />
	<i class="dropdown icon"></i>
	<div class="default text">选择一个分类</div>

	<div class="menu">

		@if (showNoCategoryOption)
		{
			<div class="item" data-value="">
				<span class="grey text">(无分类)</span>
			</div>
		}

		@foreach (var item in Model)
		{
			<partial name="_MedalCategoryItemTemplate" model="@item" />
		}
	</div>


</div>

