@model Medal
@{
	ViewBag.Title = "创建勋章";
}

<form class="ui form" asp-controller="Medal" asp-action="Create" method="post" asp-antiforgery="true">

	<div class="ui centered grid">

		<div class="eight wide column">

			<partial name="_EditPartial" />

			<div class="text-danger" asp-validation-summary="ModelOnly"></div>

			<div class="ui divider"></div>

			<button type="submit" class="btn btn-primary">创建勋章</button>
			<button type="reset" class="btn btn-outline-secondary">清空内容</button>

		</div>

	</div>

</form>

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
	<partial name="_VuePartial" />
	<partial name="_AjaxPartial" />
	<partial name="_UploadPartial" />
}
