@using Microsoft.AspNetCore.Mvc.Localization
@model Sakura.AspNetCore.IPagedList<MedalAndOwnInfo>
@inject IViewLocalizer ViewLocalizer

@{
	ViewBag.Title = "勋章一览";
	var categoryId = (int?)ViewBag.CategoryId;
}

@functions
{
	string GenerateCategoryLink(MedalCategory item) => Url.Action("Index", "Medal", new { categoryId = item.Id });
}


<partial name="_SearchPartial" model="new MedalSearchModel()" />

<div id="category-sidebar-container" class="ui pushable">

	<div class="ui sidebar visible vertical overlay menu">
		<vc:medal-category-list selected-category-id="@categoryId" link-generator="@GenerateCategoryLink" />

	</div>
	<div class="pusher">

		<div class="ui basic segment">

			@if (Model.Any())
			{


				<div class="ui info message">
					<p>这里只显示给定分类直属的勋章。如果要查看子类别中的勋章列表，请在左侧单击子类别的名称。</p>
				</div>

				<div class="ui four doubling cards">
					@foreach (var item in Model)
					{
						<partial name="_MedalItem" model="@item" />
					}

				</div>

				<div class="ui divider"></div>
				<pager />

			}
			else
			{
				<div class="ui message">
					<p>目前这里还没有可以显示的任何勋章。注意这里不会显示子类别的勋章，如果要查看它们，请在左侧切换到其他类别。</p>
				</div>
			}


		</div>

	</div>
</div>




<div id="already-owned-modal" class="ui tiny modal">
	<i class="close icon"></i>
	<div class="header">好消息</div>
	<div class="content">
		<p>
			你已经拥有了这枚勋章！
		</p>
	</div>
	<div class="actions">
		<button type="submit" class="ui positive button">真是可喜可贺</button>
	</div>
</div>

@section Scripts
								{
	<script>

		function showAlreadyOwnedDialog() {
			$('#already-owned-modal').modal('show');
		}

	</script>

	@if (categoryId != null)
	{
		<script>
			$(function () {
				$('.ui.sidebar').sidebar('show');
			});
		</script>
	}
}