@model Sakura.AspNetCore.IPagedList<Medal>
@{
	ViewBag.Title = "勋章一览";
}

@if (Model.Any())
{
	<div class="ui info message">下表列出了系统中的所有勋章，包括对普通用户不可见的项目。</div>

	<partial name="_ManageMedalList" />
	<pager />
}
else
{
	<div class="text-center text-muted">目前系统中还没有任何勋章。</div>
}

<div class="ui divider"></div>
<a asp-controller="Medal" asp-action="Create" class="ui primary button">添加勋章</a>
