

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
	<form id="log-off-form" asp-controller="Account" asp-action="LogOff" method="post" asp-antiforgery="true"></form>

	<a class="item"><strong>@User.Identity.Name</strong></a>
	<a class="item" href="#" onclick="$('#log-off-form').submit();">注销</a>
}
else
{
	<a class="item" asp-controller="Account" asp-action="LogOn">登录</a>
}