@{
	Layout = "_Layout";
}

<div asp-message-list="AlertDialogClosable"></div>

<h1 class="ui center aligned dividing header">@ViewBag.Title</h1>

@RenderBody()

@section Head
{
	@await RenderSectionAsync("Head", false)
}

@section Scripts
{
	@await RenderSectionAsync("Scripts", false)
}
